-
  const menu = [
    { name: 'О продукте', href: '/main.html#about' },
    { name: 'Риски', href: '/main.html#risks' },
    { name: 'Категории', href: '/main.html#categories' },
    { name: 'Почему мы', href: '/main.html#why-we' },
    { name: 'Наши клиенты', href: '/main.html#clients' },
    { name: 'Контакты', href: '/main.html#contacts' },
  ]

  const footerMenu = [
    { name: 'О компании', href: 'https://ventar.ru/o-kompanii'},
    { name: 'Доставка и оплата', href: 'https://ventar.ru/delivery-payment' },
    { name: 'Самовывоз', href: 'https://ventar.ru/pickup' },
    { name: 'Политика обработки персональных данных', href: '/agreement.html' },
  ]
