.home-request
  &__inner
    display grid
    grid-template-columns 1fr 1fr auto
    grid-template-rows auto
    gap var(--base-padding)
    align-items start
    +media-max(m)
      grid-template-columns 1fr 1fr
      grid-auto-flow row
    +media-max(s)
      grid-template-columns 1fr
