mixin scripts(scripts)
  each src in scripts
    -
      const isExternalScript = /^(?:https?\:)?\/\//i;
      src = isExternalScript.test(src) ? src : '/template/scripts/' + src;
    script(src=src)
