body
  position relative
  display flex
  flex-direction column
  min-height 100vh
  +before()
    position absolute
    inset 0 50%
    height 100%
    width 1px
    background-color var(--color-grey)
    z-index -1
header
  z-index 2
main
  z-index 1
  flex-grow 1
  overflow hidden
  border-left 1px solid var(--color-grey)
  border-right 1px solid var(--color-grey)
  position relative
  +before()
    position absolute
    height 100%
    width 1px
    background-color var(--color-grey)
    z-index 3
    right calc((100% - var(--content-width)) / 2)
  +after()
    position absolute
    height 100%
    width 1px
    background-color var(--color-grey)
    z-index 3
    top 0
    left calc((100% - var(--content-width)) / 2)
