include /common/pug/helpers

include /blocks/grid/grid
include /blocks/scripts/scripts
include /blocks/style/style
include /blocks/header/header
include /blocks/footer/footer
include /blocks/modal/modal
include /blocks/form-input/form-input

doctype html
html(lang='ru')
  include ../head/head
  include /data/home/products 
  include /data/home/products-properties
  body
    if isHomePage
      +header
    else 
      +header.header--inner
    main: block content
    +footer
    +modal({ width: '40rem'})#callback
      +grid({ smallGap: 'y' })
        +cell
          h3 Заказать звонок
          p Оставьте свой номер телефона и мы Вам перезвоним в течении 45 минут!
        +cell
          form.form-ajax.form.form--callback
            +formInput({ type: 'tel', placeholder: 'Ваш номер телефона' })
            +formInput({ type: 'checkbox', label: 'Отправляя эту форму, вы&nbsp;соглашаетесь с&nbsp;<a class="link" href="/agreement.html">условиями обработки персональных данных</a>', checked: true, required:true })
            button(type='submit').button.button--m Заказать обратный звонок
    +modal({ height: '100', width: '40rem'})#offer
      h3 Подберем индивидуально для вашего бизнеса
      form.form-ajax.form.form--offer.par
        +formInput({ type: 'tel', placeholder: 'Ваш номер телефона', label:'Оставьте свой номер телефона и наш специалист свяжется с вами в течении 45 минут для консультации.' })
        +formInput({ type: 'email', placeholder: 'Ваш e-mail', label:'Или оставьте свой e-mail, указав в форме ниже интересующую вас информацию.' })
        +formInput({ type: 'textarea', label:'Форма для вопроса' })
        p Мы вышлем Вам подробную информацию в течении одного рабочего дня.
        +formInput({ type: 'checkbox', label: 'Отправляя эту форму, вы&nbsp;соглашаетесь с&nbsp;<a class="link" href="/agreement.html">условиями обработки персональных данных</a>', checked: true, required:true })
        button(type='submit').button.button--m.button--secondary Получить предложение
    +modal({ width: '40rem'})#order
      h3 Информация о покупателе
      form.form-ajax.form.form--order.par
        +formInput({ type: 'text', placeholder: 'Имя и фамилия', label: 'Как вас зовут'})
        +formInput({ type: 'email', placeholder: 'Ваш e-mail', label: 'E-mail' })
        +formInput({ type: 'tel', placeholder: 'Ваш номер телефона', label: 'Телефон' })
        +formInput({ type: 'checkbox', label: 'Нажимая на кнопку, я даю <a class="link" href="/agreement.html">согласие на обработку персональных данных</a>', checked: true, required:true })
        button(type='submit').button.button--m.button--secondary Оформить
    
    +modal({ height: '100' })#modal-ft43
      .table-wrap
        table.table
          colgroup.table__colgroup.table__colgroup--5
            col.table__col
            col.table__col
            col.table__col
            col.table__col
            col.table__col
          tbody
            tr.table__row
              th.table__header Изображение 
              th.table__header Артикул
              th.table__header Описание
              th.table__header Цена (без&nbsp;НДС)
              th.table__header Действие
            each item in typeFT43.properties
              tr.table__row
                td.table__cell
                  img(src='/images/product-1.png', alt='Конденсатоотводчик поплавковый стальной фланцевый' width=120 height=90 loading='lazy' decoding="async")
                td.table__cell !{item.code}
                td.table__cell.table__cell--max-width DN: !{item.diameter} мм, присоед.: фланц. EN1092-1 PN16, PMX: !{item.pressure} бар., углерод. сталь A216 WCB
                td.table__cell 1 руб.  
                td.table__cell: a(href='#order' data-modal).button.button--m Заказать   

    +modal({ height: '100' })#modal-ft14 
      .table-wrap
        table.table
          colgroup.table__colgroup.table__colgroup--5
            col.table__col
            col.table__col
            col.table__col
            col.table__col
            col.table__col
          tbody
            tr.table__row
              th.table__header Изображение 
              th.table__header Артикул
              th.table__header Описание
              th.table__header Цена (без&nbsp;НДС)
              th.table__header Действие
            each item in typeFT14.properties
              tr.table__row
                td.table__cell
                  img(src='/images/product-2.png', alt='Конденсатоотводчик поплавковый стальной (фланцевый и резьбовой)' width=120 height=90 loading='lazy' decoding="async")
                td.table__cell !{item.code}
                td.table__cell.table__cell--max-width DN: !{item.diameter} мм, присоед.: !{item.connection}, PMX: !{item.pressure} бар., углерод. сталь A216 WCB
                td.table__cell !{item.price} руб.  
                td.table__cell: a(href='#order' data-modal).button.button--m Заказать     

    +modal#modal-td10
      .table-wrap
        table.table
          colgroup.table__colgroup.table__colgroup--5
            col.table__col
            col.table__col
            col.table__col
            col.table__col
            col.table__col
          tbody
            tr.table__row
              th.table__header Изображение 
              th.table__header Артикул
              th.table__header Описание
              th.table__header Цена (без&nbsp;НДС)
              th.table__header Действие
            each item in typeTD10.properties
              tr.table__row
                td.table__cell
                  img(src='/images/product-3.png', alt='Конденсатоотводчик термодинамический стальной резьбовой' width=120 height=90 loading='lazy' decoding="async")
                td.table__cell !{item.code}
                td.table__cell.table__cell--max-width DN: !{item.diameter} мм, присоед.: !{item.connection}, PMX: !{item.pressure} бар., углерод. сталь A216 WCB
                td.table__cell 1 руб.  
                td.table__cell: a(href='#order' data-modal).button.button--m Заказать    

  +style('style.rest')
  if (resourcesName)
    +style(`${resourcesName}.rest`)
  -
    const scripts = ['script.js']
    if (resourcesName) scripts.push(`${resourcesName}.js`)
  +scripts(scripts)
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" defer></script>
