.home-quiz
  display flex
  flex-direction column
  gap var(--base-padding)
  &__header
    display flex
    justify-content space-between
  &__step
    display flex
    gap var(--base-padding)
    flex-wrap wrap
    +media(m)
      align-items flex-start
    +media-max(m)
      flex-direction column
    &--hidden
      display none
  &__count
    @extends h2
  &__buttons 
    display flex
    gap var(--base-padding)
    flex-wrap wrap
    flex-shrink 0
    +media-max(s)
      flex-direction column
  &__select
    flex-grow 1 
  &__button--submit
    +media-max(s)
      min-width 100%
  &__tel
  &__email
    flex-grow 0.5
