include /blocks/block-marked/block-marked

+blockMarked({ big: true, white:true }).no-content.home-quiz
  .home-quiz__header
    h2 Не знаете какой выбрать?
    .home-quiz__count 1/5
  p.home-quiz__text Ответьте на несколько вопросов и получите персональные рекомендации
  form(action='').ajax-form.form--quiz.home-quiz__form
    .home-quiz__step.home-quiz__step--1
      +formInput({ type: 'select', options: diametersArray }).select.home-quiz__select
      .home-quiz__buttons 
        button(type='button').button.button--m.button--tertiary.home-quiz__button.home-quiz__button--skip Пропустить
        button(type='button' disabled).button.button--m.button--secondary.button--disabled.home-quiz__button.home-quiz__button--next#next Далее
    .home-quiz__step.home-quiz__step--2.home-quiz__step--hidden
      +formInput({ type: 'select', options: [{ name: 'Тип присоединения', value: '' }, { name: 'Резьбовое', value: 'Резьбовое' }, { name: 'Фланцевое', value: 'Фланцевое' }] }).select.home-quiz__select
      .home-quiz__buttons
        button(type='button').button.button--m.button--tertiary.home-quiz__button.home-quiz__button--previous Назад
        button(type='button').button.button--m.button--tertiary.home-quiz__button.home-quiz__button--skip Пропустить
        button(type='button' disabled).button.button--m.button--secondary.button--disabled.home-quiz__button.home-quiz__button--next Далее
    .home-quiz__step.home-quiz__step--3.home-quiz__step--hidden
      +formInput({ type: 'select', options: rateArray }).select.home-quiz__select
      .home-quiz__buttons
        button(type='button').button.button--m.button--tertiary.home-quiz__button.home-quiz__button--previous Назад
        button(type='button').button.button--m.button--tertiary.home-quiz__button.home-quiz__button--skip Пропустить
        button(type='button' disabled).button.button--m.button--secondary.button--disabled.home-quiz__button.home-quiz__button--next Далее
    .home-quiz__step.home-quiz__step--4.home-quiz__step--hidden
      +formInput({ type: 'select', options: pressureArray }).select.home-quiz__select
      .home-quiz__buttons
        button(type='button').button.button--m.button--tertiary.home-quiz__button.home-quiz__button--previous Назад
        button(type='button').button.button--m.button--tertiary.home-quiz__button.home-quiz__button--skip Пропустить
        button(type='button' disabled).button.button--m.button--secondary.button--disabled.home-quiz__button.home-quiz__button--next Далее
    .home-quiz__step.home-quiz__step--5.home-quiz__step--hidden
      +formInput({ type: 'select', options: executionArray }).select.home-quiz__select
      .home-quiz__buttons
        button(type='button').button.button--m.button--tertiary.home-quiz__button.home-quiz__button--previous Назад
        button(type='button').button.button--m.button--tertiary.home-quiz__button.home-quiz__button--skip Пропустить
        button(type='button' disabled).button.button--m.button--secondary.button--disabled.home-quiz__button.home-quiz__button--next Далее
    .home-quiz__step.home-quiz__step--6.home-quiz__step--hidden
      +formInput({ type: 'tel', placeholder: 'Ваш номер телефона' }).home-quiz__tel
      +formInput({ type: 'email', placeholder: 'Ваш e-mail' }).home-quiz__email
      .home-quiz__buttons 
        button(type='button').button.button--m.button--tertiary.home-quiz__button.home-quiz__button--previous Назад
        button(type='submit').button.button--m.button--secondary.home-quiz__button.home-quiz__button--submit Получить рекомендации
