.modal
  display none
  position fixed
  top 0
  left 0
  bottom 0
  z-index 1000
  width 100%
  &#modal-ft43
  &#modal-ft14
  &#modal-td10
    z-index 999
  &--active
    width 100%
    display flex
    align-items center
    justify-content center
    background-color rgba(0, 0, 0, .8)
    transition background-color var(--transition-duration-out)
  &--height--100
    --inner-height 100%
  &--width--40rem
    --inner-width 40rem
  &__inner
    position relative
    display flex
    flex-direction column
    padding var(--gap)
    width var(--inner-width, fit-content)
    max-width 77rem
    height var(--inner-height, auto)
    background-color var(--color-white)
    z-index 40
    overflow-y overlay
    +media-max(m)
      padding var(--base-padding)
      padding-top 25px
  &__close
    position absolute
    top 0.625rem
    right 0.625rem
    z-index 50
    width 2rem
    height 2rem
    cursor pointer
    transition opacity var(--transition-duration-out)
    background-color transparent
    border none
    +before()
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      width 1rem
      height 1rem
      mask-image maskImage(cross, home)
      mask-repeat no-repeat
      mask-position center
      mask-size contain
      background-color #000
    &:hover
      opacity 0.75
      transition opacity var(--transition-duration-in)
