.table-wrap
  overflow-x auto
.table
  width 100%
  &__header
    padding-right 2rem
    padding-bottom 0.625rem
    font-family 'Jura', serif
    font-size 1.5rem
    line-height normal
    font-variant-numeric slashed-zero
    text-align left
    vertical-align middle
    background-color var(--color-white)
    border-bottom 1px solid var(--color-grey)
  &__cell
    padding-y 0.625rem 
    padding-right 1rem 
    font-weight 500
    vertical-align middle
    border-bottom 1px solid var(--color-grey)
    ^[-1]__row:last-child > &
      border-bottom 1px solid var(--color-grey)
    &--max-width
      max-width 220px
