@import '../../../node_modules/swiper/swiper-bundle.min.css'

.slider
  --arrow-position var(--base-padding)
  --arrow-size calc(var(--gap) + .75rem)
  position relative
  +before()
    position absolute
    top 0
    left 0
    width 20%
    height 100%
    background linear-gradient(90deg, #fff 0, rgba(255,255,255,0) 100%)
    z-index 2
  +after()
    position absolute
    top 0
    right 0
    width 20%
    height 100%
    background linear-gradient(270deg, #fff 0, rgba(255,255,255,0) 100%)
    z-index 2
  &__slides
    position static
  &__wrapper
    display grid
    grid-auto-columns auto
    grid-template-rows auto
    grid-auto-flow column
  &__arrow
    --arrow-color var(--color-blue)
    --arrow-transition-duration var(--transition-duration-out)
    position absolute
    bottom -var(--arrow-position)
    width var(--arrow-size)
    height var(--arrow-size)
    cursor pointer
    background-color var(--arrow-color)
    mask-image maskImage(arrow,home)
    mask-repeat no-repeat
    mask-position center
    mask-size 2rem
    transition background-color var(--transition-duration-out)
    &--prev
      left var(--arrow-position)
      transform rotate(180deg)
    &--next
      right var(--arrow-position)
    &:hover
      --arrow-transition-duration var(--transition-duration-in)
      background-color var(--color-dark-blue)
      transition-duration var(--transition-duration-in)
    &:active
      background-color var(--color-dark-blue)
    &--disabled
    &--disabled:hover
    &--disabled:active
      background-color var(--color-grey)
      cursor default
