:root
  --button-color var(--color-white)
  --button-color-tertiary var(--color-text-secondary)
  --button-color-secondary var(--button-color-text)
  --button-background-color var(--color-orange)
  --button-background-color-hover var(--color-dark-orange)
  --button-background-color-secondary var(--color-blue)
  --button-background-color-secondary-hover var(--color-dark-blue)
  --button-background-color-tertiary-hover var(--color-grey)
  --button-transition-duration var(--transition-duration-out)

.button
  --color-text var(--button-color)
  --background-color var(--button-background-color)
  --background-color-border var(--button-background-color)
  appearance none
  text-align center
  background-color var(--background-color)
  transition background-color var(--transition-duration-out)
  +hover()
    --hover-color var(--button-background-color-hover)
    background-color var(--hover-color)
    transition-duration var(--transition-duration-in)
  &--secondary
    --background-color var(--button-background-color-secondary)
    --background-color-border var(--background-color)
    background-color var(--background-color)
    +hover()
      --hover-color var(--button-background-color-secondary-hover)
  &--tertiary
    --color-text var(--button-color-tertiary)
    --background-color var(--button-color)
    --background-color-border var(--button-background-color-tertiary-hover)
    background-color var(--background-color)
    +hover()
      --hover-color var(--button-background-color-tertiary-hover)
  &--disabled
    opacity 0.5
    +hover()
      background-color var(--background-color)
      opacity 0.5
    cursor default
