.button
  padding 1.25rem 0.875rem
  font-weight 700
  text-transform uppercase
  border 1px solid var(--background-color-border)
  +media-max(s)
    width 100%
  &--m
    padding 1.25rem var(--gap)
    +media-max(s)
      padding 1.25rem 1rem
  &--l
    padding 1.875rem var(--gap)
    +media-max(s)
      padding 1.25rem 1rem
  &--tertiary
    --background-color var(--button-background-color-tertiary-hover)
