include /blocks/table/table

mixin homeProduct(product)
  .home-product
    .home-product__image
      +img({
        name: product.image,
        path: '/images/',
        formats: [
          { ext: 'webp', type: 'image/webp' },
          { ext: 'jpg', orig: true },
        ],
        density: [
          { values: [ 1, 2 ]},
        ],
      })(alt=product.title)
    //- .home-product__header
    //-   div(class=`home-product__rating rating-sum rating-sum--${product.rating}`)
    //-     - for (i=0; i<5; i++)
    //-       .rating-sum__star
    //-     .rating-sum__count 4 отзыва
    //-   .home-product__feedback !{product.feedback}
    p.home-product__title !{product.title}
    .home-product__features
      each item in product.features
        .home-product__features-item
          .home-product__feature-name #[span !{item.name}]
          .home-product__feature-value !{item.value}
    .home-product__price  
      .home-product__price-value !{product.price}
      a(href=`#modal-${product.type}` data-modal).button.button--m.home-product__button Выбрать
