.home-product
  position relative
  display flex
  flex-direction column
  gap var(--base-padding)
  height 100%
  padding var(--base-padding)
  border 1px solid var(--color-grey)
  margin-right -1px
  margin-bottom -1px
  +before()
    position absolute
    inset 0
    background-color var(--color-white)
    z-index -1
  &__header
    display flex
    gap var(--base-padding)
    align-items center
  &__feedback
    display flex
    align-items center
    gap 0.25rem
    line-height 1
    +before()
      display block
      width 1.5rem
      height 1.5rem
      mask-image maskImage(feedback, home)
      mask-repeat no-repeat
      mask-size contain
      background-color var(--color-grey)
  &__title
    font-family 'Jura', serif
    font-size 1.5rem
    line-height normal
    +media-interval(s,l)
      font-size 1.25rem
  &__features
    display flex
    flex-direction column
    gap 0.5rem
  &__features-item
    display flex
    flex-wrap wrap
    gap 0.625rem
  &__feature-name
    position relative
    flex-grow 1
    span
      display inline-block
      padding-right 0.625rem
      line-height 1.5
      background-color var(--color-white)
    +before()
      position absolute
      bottom 1px
      width 100%
      height 1px
      background-color var(--color-grey)
      z-index -1
  &__feature-value
    flex-shrink 0
  &__price
    display flex
    align-items center
    justify-content space-between
    gap var(--base-padding)
    margin-top auto
    +media-max(l)
      flex-direction column
  &__price-value
    font-family 'Jura', serif
    font-size 1.5rem
    line-height normal
    font-variant-numeric slashed-zero
  &__button
    +media-max(l)
      width 100%
