extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/content/content

block head        
  -
    const pageTitle = `${siteName}`
    const pageDescription = ''
    const pageKeywords = ''
    const resourcesName = 'main'
  include /data/menu/index
block content   
  +pageSection({ homeHeader: true })
    h2.text-align-center Ошибка 404
    +grid.par.text-align-center
      +cell
        p К сожалению, страница не найдена.
        p Но есть много других полезных страниц.
      +cell
        a(href='/').button.par Вернуться на главную
