extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/content/content

block head        
  -
    const pageTitle = `${siteName}`
    const pageDescription = ''
    const pageKeywords = ''
    const resourcesName = 'main'
  include /data/menu/index
block content   
  +pageSection({ homeHeader: true })
    +grid({ tag: 'form', alignItems: 'flex-start' }).form-ajax.form.form--coefficient
      +formInput({ type: 'number', placeholder: 'Значение коэффициента', label: 'Значение коэффициента'})(class= cell({ m:5, xs:12 }))
      button(type='submit').button.button--m Применить
