extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/content/content

block head        
  -
    const pageTitle = `${siteName}`
    const pageDescription = ''
    const pageKeywords = ''
    const resourcesName = 'main'
  include /data/menu/index
block content   
  +pageSection({ homeHeader: true })
    h2 Авторизация
    +grid({ smallGap: 'y' }).par
      <form class="grid__cell grid__cell--m--5 grid__cell--xs--12 user-login-form form" data-drupal-selector="user-login-form" action="/user/login/" method="post" id="user-login-form" accept-charset="UTF-8">
        <div class="js-form-item form-item js-form-type-textfield form-item-name js-form-item-name">
          <label for="edit-name" class="js-form-required form-required form-input">
            span.form-input__label Имя пользователя
            <input autocorrect="none" autocapitalize="none" spellcheck="false" autofocus="autofocus" data-drupal-selector="edit-name" aria-describedby="edit-name--description" type="text" id="edit-name" name="name" value="" class="form-text required form-input__field" required="required" aria-required="true">
          </label>
              //- <div id="edit-name--description" class="description">Укажите ваше имя на сайте steamtraps.</div>
        </div>
        
        <div class="js-form-item form-item js-form-type-password form-item-pass js-form-item-pass">
          <label for="edit-pass" class="js-form-required form-required form-input">
            span.form-input__label Пароль
            <input data-drupal-selector="edit-pass" aria-describedby="edit-pass--description" type="password" id="edit-pass" name="pass" size="60" maxlength="128" class="form-text required form-input__field" required="required" aria-required="true">
          </label>
              //- <div id="edit-pass--description" class="description">Укажите пароль, соответствующий вашему имени пользователя.</div>
        </div>
      
        <input autocomplete="off" data-drupal-selector="form-zdsd0fduubkio5cq7nayhb-bvdfyojjzeopq-fakye4" type="hidden" name="form_build_id" value="form-zdsD0FdUUBKio5CQ7NAYHB_BvDFYoJJzeOPq_faKyE4">
        <input data-drupal-selector="edit-user-login-form" type="hidden" name="form_id" value="user_login_form">
        <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Войти" class="button button--m js-form-submit form-submit">
        </div>

      </form>
    p.par #[a(href='/').link Забыли свой пароль?] #[ | ] #[a(href='/').link Зарегистрироваться]
