extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/content/content
include /blocks/img/img
include /blocks/home-header/home-header
include /blocks/text-marked/text-marked
include /blocks/list-unordered/list-unordered
include /blocks/block-marked/block-marked
include /blocks/home-product/home-product
include /blocks/form-input/form-input
include /blocks/slider/slider
include /blocks/link-icons/link-icons
include /blocks/modal/modal

block head        
  -
    const pageTitle = `${siteName}`
    const pageDescription = ''
    const pageKeywords = ''
    const resourcesName = 'main'
    const isHomePage = true
  include /data/menu/index
block content    
  +homeHeader   
  +pageSection.home-about#about
    h2 О продукте
    +pageSubsection.home-about__inner
      +textMarked({ size: 'm'}).home-about__about Конденсатоотводчик – это обязательный элемент любой  #[i пароконденсатной] системы или #[i технологического трубопровода], транспортирующего перегретый водяной пар или сжатый воздух.
      +textMarked({ size: 'm'}).home-about__aim Цель конденсатоотводчиков #[i удалить накопленную влагу] из паровых трубопроводов. Данные изделия уже давно и широко применяются на многих предприятиях, в основном, связанных с #[i пищевым производством].         
      .home-about__image 
        +img({
          name: 'home-product',
          path: '/images/',
          formats: [
            { ext: 'webp', type: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { values: [ 1, 2 ], width: '800', height: '619' },
          ],
        })(alt='Конденсатоотводчик')
      ul.home-about__list
        li #[strong удаляет накопленную влагу из паровых трубопроводов]
        li #[strong позволяет продлить срок эксплуатации оборудования и уменьшить расходы на его обслуживание]
        li #[strong тормозит коррозионные процессы в трубопроводах и уменьшает риск выхода из строя запорно-регулирующей арматуры]
  +pageSection({ noPadding: 'top' })#risks
    h2.text-align-center.hyphens Риски при отсутствии конденсатоотводчиков
    +grid({ justify: 'center' }).page-subsection
      +cell({ l:6, s:9 })
        +textMarked({ tag: 'p', size: 'm'}).page-subsection.text-align-center Правильная организация отвода конденсата – это одно из основных условий для #[i надежного функционирования оборудования] и трубопроводных систем
    +pageSubsection({ noPadding: 'top' })
      +grid({ tag: 'ul', noGap: true }).no-content.overflow-hidden
        -
          const advantages = [
            {
              icon: 'hydro',
              text: '<i>Гидроудары</i>, повреждающие оборудование и уменьшающих прочность стенок и сочленений труб'
            },
            {
              icon: 'consumption',
              text: '<i>Увеличение расхода</i> топлива из-за снижения теплосодержания пара'
            },
            {
              icon: 'pressure',
              text: 'Нежелательное <i>падение давления</i> в системе в результате уменьшения поперечного сечения трубопровода'
            },
            {
              icon: 'steam',
              text: 'Незапланированные <i>потери пара</i> в технологических линиях'
            },
          ]
        each item in advantages 
          +cell({ m:3, s:6, tag: 'li' })
            +iconBlock(class= `icon-block--${item.icon} icon-block--column`): p.text-align-center !{item.text}
  +pageSection({ noPadding: 'top' })
    .home-consultation.no-content
      h2 Снизьте затраты на&nbsp;энергоносители и&nbsp;забудьте о&nbsp;внеплановых ремонтах!
      +grid 
        +cell({ m:6 })
          p В&nbsp;условиях отечественных предприятий окупаемость затрат на&nbsp;покупку и&nbsp;установку конденсатоотводчика достигается в&nbsp;среднем&nbsp;#[i за&nbsp;1-6&nbsp;месяцев]
      a(href='#offer' data-modal).button.button--l Получить консультацию специалиста
  +pageSection({ noPadding: 'top' }).home-categories#categories
    h2.hyphens Категории конденсатоотводчиков 
    .home-categories__inner.page-subsection
      +blockMarked.home-categories__float
        h3 Поплавковые
        +ul
          li Регулируемый отвод конденсата
          li Отвод воздуха за счёт встроенного термостатического воздушника
          li Используются для насыщенного и перегретого пара
        p Поплавковые конденсатоотводчики достаточно универсальны
        a(href='/documents/Xiutai_DS_FT43_202012_VentarRU_EXT.pdf' target='_blank').link.link--strong.home-categories__link.text-transform-uppercase Подробное описание
      +blockMarked({ white: true }).home-categories__thermo
        h3.hyphens Термодинамические
        +ul
          li Седло клапана наплавлено более твердым стеллитовым сплавом
          li Диск клапана закален, что уменьшает его износ во время эксплуатации
        a(href='/documents/Xiutai_DS_TD10_202012_VentarRU_EXT.pdf' target='_blank').link.link--strong.home-categories__link.text-transform-uppercase Подробное описание
      +grid({ noGap:true }).home-categories__product.no-content.overflow-hidden
        each item in products      
          +cell({ m:4, s:6 })
            +homeProduct(item)            
  +pageSection({ backgroundColor: true })
    include /blocks/home-quiz/home-quiz   
  +pageSection#why-we
    +grid({ noGap: 'x', alignItems: 'center' }).no-content.home-advantages
      +cell({ m:6 }).home-advantages__inner
        h2.home-advantages__title Почему именно Вентар?
        ul.home-advantages__list
          -
            const homeAdvantages = [
              {
                title: 'С нами вы экономите время',
                text: 'предлагаем комплексный подход к решению ваших производственных задач',
              },
              {
                title: 'С нами удобно',
                text: 'поможем выбрать среди более 10 000 наименований',
              },
              {
                title: 'С нами лучшие',
                text: 'только надежные поставщики, компаниями с мировым именем',
              },
              {
                title: 'С нами оперативно',
                text: 'благодаря складу в&nbsp;Подольске вы&nbsp;можете получить заказ оперативно&nbsp;&mdash; на&nbsp;следующий день после отправки заявки',
              },
            ]
          each item in homeAdvantages  
            li.home-advantages__item.block-marked.block-marked--border.block-marked--white  
              p.home-advantages__item-title !{item.title}
              p !{item.text} 
        a(href='/documents/Ventar_BL_Prom_202209_RU_EXT.pdf' target='_blank').link.link--strong.text-transform-uppercase.home-advantages__link Узнать подробнее о компании #[span pdf&nbsp;2,6&nbsp;mb]
      +cell({ m:6 })
        +img({
          name: 'home-advantages',
          path: '/images/',
          formats: [
            { ext: 'webp', type: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { values: [ 1, 2 ]},
          ],
        })(alt='Почему именно Вентар?')
  +pageSection({ noPadding: 'top' })#clients
    h2.text-align-center Наши клиенты
    +slider({ pagination: true }).page-subsection.home-clients.no-content
      -
        const homeClients = [
          {
            title: 'Фармстандарт-УфаВИТА',
            img: 'client-5',
          },
          {
            title: 'Азовская кондитерская фабрика',
            img: 'client-6',
          },
          {
            title: 'AB InBev Efes',
            img: 'client-7',
          },
          {
            title: 'Богородское село',
            img: 'client-8',
          },
          {
            title: 'Ростовский Пивзавод',
            img: 'client-9',
          },
          {
            title: 'Великолукский мясокомбинат',
            img: 'client-10',
          },
          {
            title: 'Дымов',
            img: 'client-11',
          },
          {
            title: 'Тольятти молоко',
            img: 'client-12',
          },
          {
            title: 'Химический завод им. Л.Я. Карпова',
            img: 'client-13',
          },
          {
            title: 'Сернурский сырзавод',
            img: 'client-14',
          },
        ]
      each item in homeClients
        +slide.home-clients__slide
          .block-marked.block-marked--border.block-marked--white.home-clients__image
            +img({
              name: item.img,
              path: '/images/',
              formats: [
                { ext: 'webp', type: 'image/webp' },
                { ext: 'png', orig: true },
              ],
            })(alt=item.title)
  +pageSection({ noPadding: 'top' })
    .block-marked.block-marked--grey.block-marked--big.no-content 
      +pageSubsection 
        h2 Наши клиенты уже экономят до 15 руб. на каждый вложенный рубль за счет:
        ul.list-unordered.list-unordered--disc
          li сокращения расходов на энергоносители
          li экономии на ремонте и замене оборудования
          li снижения эксплутационных издержек
      +pageSubsection.home-request
        h3 Хотите так же? Ждем вашу заявку     
        form.form.form--request.home-request__inner.par   
          +formInput({ type: 'text', placeholder: 'Ваше имя и фамилия' })
          +formInput({ type: 'tel', placeholder: 'Номер телефона' })
          button(type='submit').button.button--m Оставить заявку
  +pageSection({ noPadding: 'top' }).home-contacts#contacts
    +grid.no-content
      +cell({ m:6 })
        .home-contacts__inner
          +pageSubsection.home-contacts__text
            h2 Контакты
            .home-contacts__wrapper
              h3 Офис
              p.home-contacts__address ООО «Вентар» #[br] 105318, Москва, Ткацкая, 1
            ul.home-contacts__list.par
              li.home-contacts__item.home-contacts__item--call
                a(href='tel:+74997542737') +7(499)754-27-37
              li.home-contacts__item.home-contacts__item--email
                a(href='mailto:steamtraps@ventar.ru') steamtraps@ventar.ru
              li.home-contacts__item.home-contacts__item--site 
                a(href='ventar.ru') ventar.ru 
            .home-contacts__wrapper
              h3 Склад
              p.home-contacts__address 142116, Подольск, Лобачёва, 32
            ul.home-contacts__list.par
              li.home-contacts__item.home-contacts__item--call
                a(href='tel:+74997542737') +7(499)754-27-37
          +pageSubsection
            +linkIcons(['telegram', 'whatsapp'])
        .home-contacts__map#home-contacts-map 
