.block-marked
  padding var(--base-padding)
  background-color var(--color-bg)
  &--white
    background-color var(--color-white)
  &--big
    padding 3.75rem
    +media-max(m)
      padding var(--base-padding)
  &--border
    box-shadow 0 0 0 0 var(--color-grey), 0 1px 0 0 var(--color-grey), 0 1px 0 0 var(--color-grey), 1px 0 0 0 var(--color-grey) inset, 0 1px 0 0 var(--color-grey) inset
