.home-contacts
  position relative
  +media(m)
    padding-y var(--gap) 0
  &__inner
    position relative
    z-index 10
    padding 3.75rem
    +media(m)
      background-color var(--color-white)
    +media-max(m)
      padding 0 var(--base-padding) var(--base-padding)
  &__text
    display flex
    flex-direction column
    gap var(--base-padding)
  &__address
    font-family 'Jura', serif
    font-size 1.5rem
    line-height normal
    font-variant-numeric slashed-zero
  &__list
    display flex
    flex-direction column
    gap 0.625rem
  &__item
    display flex
    gap 0.625rem
    align-items center
    font-weight 600
    +before()
      display block
      width 1.25rem
      height 1.25rem
      mask-image var(--mask-icon)
      mask-size contain
      mask-position center
      mask-repeat no-repeat
      background-color var(--color-blue)
    for icon in call email site
      &--{icon}
        --mask-icon maskImage(icon, home)
  &__map
    position absolute
    inset 0
    +media-max(m)
      position relative
      width 100%
      height 536px
