.home-categories
  &__inner
    display grid
    grid-template-areas 'float thermo' 'product product'
    grid-template-columns calc(100%*2/3 + 7px) calc(100%*1/3 - 7px)
    grid-template-rows auto
    +media-max(m)
      grid-template-areas 'float' 'thermo' 'product'
      grid-template-columns 1fr
  &__float
    grid-area float
    display flex
    flex-direction column
    row-gap 0.625rem
    +media(m)
      margin-left -20px
    +media-max(m)
      margin-x -20px
  &__thermo
    grid-area thermo
    display flex
    flex-direction column
    row-gap 0.625rem
    height 100%
    +media-max(m)
      margin-x -20px
  &__link
    margin-top auto
  &__product
    grid-area product
