.list-unordered
  padding-left 15px
  list-style-type "—"
  li
    padding-left 0.5rem
    & + li
      margin-top 5px
  &--disc
    padding-left var(--base-padding)
    list-style-type disc
    li
      padding-left 0
