@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.home-advantages
  overflow hidden
  &__inner
    display flex
    flex-direction column
    gap var(--base-padding)
  &__title
    padding-left var(--base-padding)
  &__item-title
    margin-bottom 0.625rem
    font-family 'Jura', serif
    font-size 1.5rem
    line-height normal
  &__item
    position relative
    padding-left 3.75rem
    &--active
      animation-name fade-in
      animation-duration 0.7s
      animation-fill-mode both
      animation-timing-function ease-out
      for i in (1...5)
        &:nth-child({i})
          animation-delay 0.1s * i
    +before()
      position absolute
      inset calc(var(--base-padding) + 6px) 0 0 var(--base-padding)
      display block
      width 1.25rem
      height 1.25rem
      mask-image maskImage(tick, home)
      mask-repeat no-repeat
      mask-position center
      mask-size contain
      background-color var(--color-icon)
    &:nth-child(2n)
      --color-icon var(--color-orange)
    &:nth-child(2n+1)
      --color-icon var(--color-blue)
  &__link
    padding-left var(--base-padding)
    span
      position relative
      padding-left var(--gap)
      font-weight 700
      color var(--color-blue)
      +before()
        position absolute
        inset 0 0 0 0.625rem
        display block
        width 1.25rem
        height 1.25rem
        mask-image maskImage(download, home)
        mask-repeat no-repeat
        mask-position center
        mask-size contain
        background-color var(--color-blue)
