.form-input
  display flex
  flex-direction column
  gap 0.5rem
  &__field
    display block
    width 100%
    padding var(--base-padding)
    font-family var(--font-family-primary)
    font-size 17px
    line-height 1.5
    color var(--color-text-secondary)
    border 1px solid var(--color-grey)
    outline 0
    textarea&
      height 120px
      resize none
    &:focus
      border-color var(--color-blue)
  &--checkbox
    flex-direction row
    align-items center
    gap 0.625rem
    justify-content flex-start
    & ^[-1]__field
      padding 0.5rem
      order 0
      width 0.875rem
      height 0.875rem
    & ^[-1]__label
      order 1
