head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='preload' href='/template/fonts/IBMPlexSans-Regular.woff2' as='font' type='font/woff2' crossorigin='anonymous')
  link(rel='preload' href='/template/fonts/IBMPlexSans-Medium.woff2' as='font' type='font/woff2' crossorigin='anonymous')
  link(rel='preload' href='/template/fonts/IBMPlexSans-Bold.woff2' as='font' type='font/woff2' crossorigin='anonymous')
  link(rel='preload' href='/template/fonts/Jura-SemiBold.woff2' as='font' type='font/woff2' crossorigin='anonymous')
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/images/favicon-180-apple.png">
  <link rel="manifest" href="manifest.webmanifest">
  -
    const info = require ('../src/common/settings.json')
    const { siteName, breakpoints } = info;

  block head
  +style('style.core')
  if (resourcesName)
    +style(`${resourcesName}.core`)
  title= pageTitle || ''
  meta(name='description' content=pageDescription || '')
  meta(name='keywords' content=pageKeywords || '')
