extends /blocks/layout/layout

include /blocks/container/container
include /blocks/content/content

block head
  -
    const pageTitle = `${siteName}: `
    const pageDescription = ''
    const pageKeywords = ''
  include /data/menu/index
block content
  +pageSection({ homeHeader: true })
    ul
      li: a(href='main.html') Главная страница — main.html
      li: a(href='agreement.html') Перс данные — agreement.html
      li: a(href='login.html') Авторизация — login.html
      li: a(href='404.html') 404 — 404.html
      li: a(href='form.html') form — form.html
