.footer
  line-height 1.25
  &__copyright 
    font-family 'Jura', serif
    color var(--color-text-secondary)
  &__advertising
    margin-top 1rem
    padding-left 3rem
    background-image backgroundImage(medreclama, common)
    background-repeat no-repeat
    background-size contain
    background-position left
