include /blocks/page-section/page-section
include /blocks/content/content
include /blocks/footer-navigation/footer-navigation

mixin footer
  +pageSection({ tag: 'footer', noContent: true, backgroundColor: true }).footer: +content(class= grid()).footer__inner 
    +cell({ m:4 })
      +footerNavigation(footerMenu).footer__navigation
    +cell({ m:8 })
      p Промышленная запорно-регулирующая арматура, фитинги и трубопроводы.
      p Все материалы данного сайта являются объектами авторского права.
      p Вся представленная на сайте информация, в том числе касающаяся технических характеристик оборудования, фото и описания товара, внешнего вида и цвета товара, наличия на складе, стоимости товаров и услуг, носит информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями статьи 437 Гражданского кодекса РФ.
      p.footer__copyright &copy;&nbsp;2011-2023&nbsp;ООО &laquo;Вентар&raquo;
      .footer__advertising
        p Разработка сайта:
        a(href='https://medreclama.ru/' target='_blank').link Агентство «Medreclama»
