include /blocks/container/container
include /blocks/content/content
include /blocks/button/button
include /blocks/img/img
include /blocks/icon-block/icon-block

mixin homeHeader 
  +container({ tag: 'section' }).home-header.page-section.page-section--no-padding--top.page-section--no-padding--bottom: +content.home-header__inner
    .home-header__wrapper
      h2.home-header__title Надежные конденсатоотводчики для паровых систем
      a(href='#offer' data-modal).button.button--l.button--secondary.home-header__button Запросить коммерческое предложение
    .home-header__image
      +img({
        name: 'home-header',
        path: '/images/',
        formats: [
          { ext: 'webp', type: 'image/webp' },
          { ext: 'jpg', orig: true },
        ],
        density: [
          { name: 's', values: [ 1, 2 ], width: '480', height: '387' },
          { name: 'm', values: [ 1, 2 ], width: '800', height: '645' },
        ],
      })(alt='Надежные конденсатоотводчики для паровых систем')
    +grid({ tag: 'ul', noGap: true }).overflow-hidden.home-header__advantages
      -
        const advantages = [
          {
            icon: 'available',
            text: 'Всегда в&nbsp;наличии на&nbsp;складе'
          },
          {
            icon: 'analogs',
            text: 'Доступные аналоги мировых брендов'
          },
          {
            icon: 'documents',
            text: 'Вся техническая документация'
          },
          {
            icon: 'warranty',
            text: 'Ремонт по гарантии'
          },
        ]
      each item in advantages 
        +cell({ l:3, s:6, tag: 'li' })
          +iconBlock(class= `icon-block--${item.icon}`) !{item.text}
