.home-header
  position relative
  &__inner
    display grid
    grid-template-areas 'title img' 'advantages advantages'
    grid-template-columns 1fr 50%
    grid-template-rows auto
    column-gap 4.375rem
    padding-top 120px
    +media-max(l)
      column-gap 1rem
    +media-max(m)
      grid-template-areas 'title title' 'img img' 'advantages advantages'
  &__wrapper
    grid-area title
    display flex
    flex-direction column
    row-gap 1.875rem
  &__image
    grid-area img
    +media(l)
      margin-right calc(var(--gap) / -2)
  &__advantages
    grid-area advantages
    margin-x calc(var(--base-padding) * -1)
  &__button
    +media-max(m)
      margin-bottom 1.875rem
