.home-header
  +before()
    position absolute
    inset 0
    width 100%
    height 100%
    background-image url(../images/bg.webp)
    background-repeat no-repeat
    background-size cover
    background-position center
    z-index -1
  &__inner
    align-items center
  &__wrapper
    align-items flex-start
  &__title
    @media(max-width 400px)
      hyphens auto
  &__advantages
    background-color var(--color-white)
