.home-consultation
  position relative
  display flex
  flex-direction column
  row-gap 1.875rem
  align-items flex-start
  padding 3.75rem
  background-color var(--color-bg)
  z-index 10
  overflow hidden
  +media-max(m)
    padding 1.25rem
  +before()
    position absolute
    bottom -60px
    right 54px
    width 390px
    aspect-ratio 390/450
    background-image backgroundImage(consultation, home)
    background-repeat no-repeat
    background-position center
    background-size cover
    z-index -1
    +media-max(m)
      top 50%
      right 0
      transform translateY(-50%)
      width 200px
