a
  display inline-block
  text-decoration none
  // +hover()
  //   color var(--color-dark-blue)
  //   transition-duration var(--transition-duration-in)
  &.link
    color var(--color-blue)
    font-weight 500
    transition color var(--transition-duration-out)
    +hover()
      color var(--color-dark-blue)
      transition-duration var(--transition-duration-in)
    &--strong
      font-weight 700
