.page-section
  padding-y 80px
  +media(m)
    padding-y 100px
  &--no-padding
    &--top
      padding-top 0
    &--bottom
      padding-bottom 0
  &--background-color
    background-color var(--color-bg)
  &--home-header
    padding-top 160px
