- 
  const typeFT14 = {
    type: 'FT-14',
    properties: [
      {
        code: '2C9O',
        pressure: '10',
        rate: '400',
        connection: 'резьба BSP 1/2”',
        diameter: '15',
        price: '20 494, 10',
      },
      {
        code: '2C91',
        pressure: '10',
        rate: '400',
        connection: 'фланц. EN1092-1 PN16',
        diameter: '15',
        price: '22 071, 50',
      },
      {
        code: '2C9P',
        pressure: '10',
        rate: '400',
        connection: 'резьба BSP 3/4”',
        diameter: '20',
        price: '24 395, 80',
      },
      {
        code: '2C97',
        pressure: '10',
        rate: '400',
        connection: 'фланц. EN1092-1 PN16',
        diameter: '20',
        price: '25 810, 40',
      },
      {
        code: '2C93',
        pressure: '10',
        rate: '900',
        connection: 'резьба BSP 1”',
        diameter: '25',
        price: '22 005, 50',
      },
      {
        code: '2C96',
        pressure: '10',
        rate: '900',
        connection: 'фланц. EN1092-1 PN16',
        diameter: '25',
        price: '25 098, 70',
      },
      {
        code: '2F0M',
        pressure: '14',
        rate: '300',
        connection: 'резьба BSP 1/2”',
        diameter: '15',
        price: '23 695, 10',
      },
      {
        code: '2F0P',
        pressure: '14',
        rate: '300',
        connection: 'фланц. EN1092-1 PN16',
        diameter: '15',
        price: '22 633, 60',
      },
      {
        code: '2F0N',
        pressure: '14',
        rate: '300',
        connection: 'резьба BSP 3/4”',
        diameter: '20',
        price: '23 686, 30',
      },
      {
        code: '2F0Q',
        pressure: '14',
        rate: '300',
        connection: 'фланц. EN1092-1 PN16',
        diameter: '20',
        price: '25 890, 70',
      },
      {
        code: '2F0O',
        pressure: '14',
        rate: '500',
        connection: 'резьба BSP 1”',
        diameter: '25',
        price: '25 457, 30',
      },
      {
        code: '2F0R',
        pressure: '14',
        rate: '500',
        connection: 'фланц. EN1092-1 PN16',
        diameter: '25',
        price: '29 711, 00',
      },
      {
        code: '2C9N',
        pressure: '4,5',
        rate: '500',
        connection: 'резьба BSP 1/2”',
        diameter: '15',
        price: '20 494, 10',
      },
      {
        code: '2C92',
        pressure: '4,5',
        rate: '500',
        connection: 'фланц. EN1092-1 PN16',
        diameter: '15',
        price: '22 798, 60',
      },
      {
        code: '2C95',
        pressure: '4,5',
        rate: '500',
        connection: 'резьба BSP 3/4”',
        diameter: '20',
        price: '21 124, 40',
      },
      {
        code: '2C9Q',
        pressure: '4,5',
        rate: '500',
        connection: 'фланц. EN1092-1 PN16',
        diameter: '20',
        price: '26 667, 30',
      },
      {
        code: '2C94',
        pressure: '4,5',
        rate: '1250',
        connection: 'резьба BSP 1”',
        diameter: '25',
        price: '22 005, 50',
      },
      {
        code: '2C9R',
        pressure: '4,5',
        rate: '1250',
        connection: 'фланц. EN1092-1 PN16',
        diameter: '25',
        price: '25 048, 10',
      },
    ],
  }

  const typeFT43 = {
    type: 'FT-43',
    properties: [
      {
        code: '2Y3J',
        pressure: '4,5',
        rate: '2000',
        connection: 'Фланцевое',
        diameter: '15',
      },
      {
        code: '2Y3M',
        pressure: '10',
        rate: '1500',
        connection: 'Фланцевое',
        diameter: '15',
      },
      {
        code: '2Y3P',
        pressure: '14',
        rate: '1000',
        connection: 'Фланцевое',
        diameter: '15',
      },
      {
        code: '2Y3K',
        pressure: '4,5',
        rate: '2000',
        connection: 'Фланцевое',
        diameter: '20',
      },
      {
        code: '2Y3N',
        pressure: '10',
        rate: '1500',
        connection: 'Фланцевое',
        diameter: '20',
      },
      {
        code: '2Y3R',
        pressure: '14',
        rate: '1000',
        connection: 'Фланцевое',
        diameter: '20',
      },
      {
        code: '2THF',
        pressure: '4,5',
        rate: '2000',
        connection: 'Фланцевое',
        diameter: '25',
      },
      {
        code: '2THG',
        pressure: '10',
        rate: '1500',
        connection: 'Фланцевое',
        diameter: '25',
      },
      {
        code: '2Y3S',
        pressure: '14',
        rate: '1000',
        connection: 'Фланцевое',
        diameter: '25',
      },
      {
        code: '2Y3L',
        pressure: '4,5',
        rate: '2700',
        connection: 'Фланцевое',
        diameter: '32',
      },
      {
        code: '2Y3O',
        pressure: '10',
        rate: '2500',
        connection: 'Фланцевое',
        diameter: '32',
      },
      {
        code: '2Y3T',
        pressure: '14',
        rate: '2300',
        connection: 'Фланцевое',
        diameter: '32',
      },
      {
        code: '2NGT',
        pressure: '4,5',
        rate: '2700',
        connection: 'Фланцевое',
        diameter: '40',
      },
      {
        code: '2QYS',
        pressure: '10',
        rate: '2500',
        connection: 'Фланцевое',
        diameter: '40',
      },
      {
        code: '2W9W',
        pressure: '14',
        rate: '2300',
        connection: 'Фланцевое',
        diameter: '40',
      },
      {
        code: '2N0D',
        pressure: '4,5',
        rate: '2700',
        connection: 'Фланцевое',
        diameter: '50',
      },
      {
        code: '2MMW',
        pressure: '10',
        rate: '2500',
        connection: 'Фланцевое',
        diameter: '50',
      },
      {
        code: '2Y3U',
        pressure: '14',
        rate: '2300',
        connection: 'Фланцевое',
        diameter: '50',
      },
    ],
  }

  const typeTD10 = {
    type: 'TD-10',
    properties: [
      {
        code: '2IC3',
        pressure: '10',
        rate: '1000',
        connection: 'резьба BSP 1/2”',
        diameter: '15',
      },
      {
        code: '2IC4',
        pressure: '10',
        rate: '1000',
        connection: 'резьба BSP 3/4”',
        diameter: '20',
      },
      {
        code: '2IC5',
        pressure: '10',
        rate: '1000',
        connection: 'резьба BSP 1”',
        diameter: '25',
      },
    ],
  }
  const executionArray = [
    { name: 'Исполнение конденсатоотводчика', value: ''},
    { name: 'Поплавковый', value: 'Поплавковый'},
    { name: 'Термодинамический', value: 'Термодинамический'},
  ]
- 
  const arrayFT14 = Array.from(new Set(typeFT14.properties));
  const arrayFT15 = Array.from(new Set(typeFT43.properties));
  const arrayTD10 = Array.from(new Set(typeTD10.properties));
  const resultArray = [...arrayFT14, ...arrayFT15, ...arrayTD10];
  // Диаметры 
  const diametersSelect = [{ name: 'Укажите диаметр трубопровода (DN в мм)', value: ''}];
  const diameters = [...new Set(resultArray.map((item) => item.diameter))].map((item) => ({ name: item, value: item })); 
  const diametersArray = [...diametersSelect, ...diameters];
  // Тип присоединения
  const connectionSelect = [{ name: 'Тип присоединения', value: ''}];
  const connection = [...new Set(resultArray.map((item) => item.connection))].map((item) => ({ name: item, value: item })); 
  const connectionArray = [...connectionSelect, ...connection];
  // Макс. расход конденсата (кг/ч)
  const rateSelect = [{ name: 'Макс. расход конденсата (кг/ч)', value: ''}];
  const rateSort = [...new Set(resultArray.map((item) => item.rate))].sort((a, b) => a - b);
  const rate = rateSort.map((item) => ({ name: item, value: item })); 
  const rateArray = [...rateSelect, ...rate];
  // Макс. перепад давления (бар)
  const pressureSelect = [{ name: 'Макс. перепад давления (бар)', value: ''}];
  const pressureSort = [...new Set(resultArray.map((item) => item.pressure))].sort((a, b) => a - b);
  const pressure = pressureSort.map((item) => ({ name: item, value: item })); 
  const pressureArray = [...pressureSelect, ...pressure]; 
