-
  const products = [
    {
      image: 'product-1',
      title: 'Конденсатоотводчик поплавковый стальной фланцевый',
      price: 'от 27 259 ₽',
      rating: '4', 
      feedback: '0',
      type: 'ft43',
      features: [
        {
          name: 'Тип',
          value: 'FT43',   
        },
        {
          name: 'DN',
          value: '15-65',   
        },
        {
          name: 'Категория',
          value: 'Поплавковые',   
        },
      ],
    },
    {
      image: 'product-2',
      title: 'Конденсатоотводчик поплавковый стальной (фланцевый и резьбовой)',
      price: 'от 20 494 ₽',
      rating: '5', 
      feedback: '0',
      type: 'ft14',
      features: [
        {
          name: 'Тип',
          value: 'FT14',   
        },
        {
          name: 'DN',
          value: '15-25',   
        },
        {
          name: 'Категория',
          value: 'Поплавковые',   
        },
      ],
    },  
    {
      image: 'product-3',
      title: 'Конденсатоотводчик термодинамический стальной резьбовой',
      price: 'от 7 069 ₽',
      rating: '4', 
      feedback: '0',
      type: 'td10',
      features: [
        {
          name: 'Тип',
          value: 'TD10',   
        },
        {
          name: 'DN',
          value: '15-25',   
        },
        {
          name: 'Категория',
          value: 'Термодинамические',   
        },
      ],
    },  
  ]
