fontFace(name, file, weight, style)
  @font-face
    font-family name
    src url('../fonts/' + file + '.woff2') format('woff2')
    font-weight unquote(weight)
    font-style unquote(style)
    font-display swap

fontFace(IBM, 'IBMPlexSans-Regular', '400', 'normal')
fontFace(IBM, 'IBMPlexSans-Medium', '500', 'normal')
fontFace(IBM, 'IBMPlexSans-MediumItalic', '500', 'italic')
fontFace(IBM, 'IBMPlexSans-Bold', '700', 'normal')
fontFace(Jura, 'Jura-SemiBold', '600', 'normal')
