:root
  // --font-family-primary 'IBM', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
  // --font-family-secondary 'Jura', serif

  --color-text #2A2A32
  --color-text-secondary #6F7075
  --color-grey #EAEEF5
  --color-bg #FBFBFD
  --color-white #ffffff
  --color-orange #F98C4A
  --color-dark-orange #e98546
  --color-blue #008AB8
  --color-dark-blue #01789F
  --transition-duration-out .3s
  --transition-duration-in .1s
