@import '../../../node_modules/choices.js/public/assets/styles/choices.min.css'

.select .choices
  &.is-focused .choices__inner
    border-color var(--color-blue)
  &.is-open .choices__list--dropdown
    border-color var(--color-grey)
    border-top-color var(--color-blue)
    border-radius 0
  &.is-flipped .choices__list--dropdown
    border-bottom-color var(--color-blue)
    border-top-color var(--color-grey)
    border-radius 0
  &__inner
    padding 1.125rem 1.25rem
    background-color var(--color-white)
    border 1px solid var(--color-grey)
    border-radius 0
  &__placeholder
    font-size 17px
    line-height 1.5
    color var(--color-text-secondary)
    opacity 1
  &__list
    padding 0
    &--single
      font-size 17px
      line-height 1.5
      font-weight 500
      color var(--color-text)
  &[data-type*=select-one]
    &::after
      right 25px
      border-color var(--color-text-secondary) transparent transparent
      border-width 7px
    &.is-open
      &::after
        margin-top -10px
        border-color transparent transparent var(--color-text-secondary)
        border-width 7px
    & .choices__inner
      padding-bottom 1.25rem
  &__list--dropdown 
    & .choices__item
      padding 0.5rem 1.25rem
      color var(--color-text)
      font-size 1rem
      line-height 1.25
      font-weight 500
      &--selectable.is-highlighted
        background-color var(--color-bg)
