mixin linkIcons(list = [], settings = {})
  -
    const links = {
      whatsapp: 'https://wa.me/+79853902802',
      telegram: 'https://t.me/+79853902802',
    }
  div(class= classes('link-icons', settings))&attributes(attributes)
    each item in list
      - const itemClass = `link-icons__link link-icons__link--${item}`
      a(href != links[item] class != itemClass target='_blank')
