.link-icons
  display flex
  align-items center
  gap var(--base-padding)
  &__link
    display block
    width var(--gap)
    height var(--gap)
    background-image var(--background-icon)
    background-repeat no-repeat
    background-position center
    background-size contain
    transition opacity var(--transition-duration-out)
    &:hover
      opacity 0.8
      transition-duration  var(--transition-duration-in)
    for icon in whatsapp telegram
      &--{icon}
        --background-icon backgroundImage(icon, home)
