include /blocks/container/container
include /blocks/content/content
include /blocks/header-navigation/header-navigation
include /blocks/logo/logo

mixin header
  header.header&attributes(attributes)
    +logo.header__logo   
    a(href='#callback' data-modal).button.header__call.hidden-xs.hidden-s Заказать звонок #[br] #[object #[a(href='#callback' data-modal).header__time ПН-ПТ: 9.00 - 18.00]]
    button.header__opener.js-header-toggler
    a(href='/login.html').link.header__login.hidden-xs.hidden-s Войти
    .header__contacts
      a(href='tel:+74997542737').link.header__tel +7 (499) 754-27-37
      a(href='mailto:steamtraps@ventar.ru').header__mail steamtraps@ventar.ru
    .header__pop-up
      +headerNavigation(menu).header__navigation
      a(href='/login.html').link.header__login.hidden-m.hidden-l.hidden-xl Войти
      a(href='#callback' data-modal).button.header__call.hidden-m.hidden-l.hidden-xl Заказать звонок #[br] #[object #[a(href='#callback' data-modal).header__time ПН-ПТ: 9.00 - 18.00]]
