.header
  --pop-up-clip-path inset(0 0 0 100%)
  --pop-up-transition-duration var(--transition-duration-out)
  --pop-up-pointer-events none
  inset 40px 40px auto
  display grid
  grid-template-areas 'logo menu login contacts call'
  grid-template-columns minmax(120px, calc((100vw - var(--content-width)) / 2 - 80px)) minmax(709px, auto) 1fr min-content minmax(auto, 300px)
  align-items center
  padding-left var(--base-padding)
  background-color var(--color-white)
  transition transform 0.3s
  &--inner
    background-color var(--color-bg)
  +media-max(xl)
    inset 40px 20px auto
    grid-template-columns minmax(120px, calc((100vw - var(--content-width)) / 2 + 60px)) auto 1fr min-content minmax(178px, auto)
  +media-max(l)
    grid-template-areas 'logo login contacts call opener'
    grid-template-columns minmax(154px, auto) 1fr min-content auto 80px
  +media-max(m)
    inset 0 0 auto
    grid-template-areas 'logo contacts opener'
    grid-template-columns minmax(120px, auto) 1fr 60px
    padding-y var(--base-padding)
  +media-max(s)
    grid-template-columns minmax(80px, 110px) 1fr 60px
  &--active
    --pop-up-clip-path inset(0 0 0 0)
    --pop-up-pointer-events auto
    --opener-before-opacity 0
    --opener-after-opacity 1
  &__login
    grid-area login
    padding-right 2rem
    justify-self flex-end
    +media-max(m)
      font-size 1.25rem
  &__logo
    grid-area logo
    justify-self start
    height var(--gap)
    z-index 2
  &__contacts
    grid-area contacts
    display flex
    flex-direction column
    padding-right calc(var(--gap)/2)
    text-align right
    +media-max(xl)
      padding-right 0.625rem
    +media-max(l)
      justify-self center
      text-align center
    +media-max(m)
      padding-right 0
  &__call
    grid-area call
  &__time
    font-weight 500
    opacity 60%
  &__tel
  &__mail
    font-weight 500
  &__pop-up
    +media-max(l)
      position absolute
      inset 88px 0 auto auto
      display flex
      flex-direction column
      gap 2rem
      width 400px
      height 100svh
      padding calc(var(--gap)+1px) var(--gap) var(--gap) var(--gap)
      background-color var(--color-white)
      border-top 1px solid var(--color-grey)
      clip-path var(--pop-up-clip-path)
      transition clip-path var(--pop-up-transition-duration)
      pointer-events var(--pop-up-pointer-events)
      z-index 100
      +media-max(m)
        width 100%
        padding 1.5rem
  &__opener
    --opener-before-after-size 1.25rem
    --opener-size var(--gap)
    position relative
    grid-area opener
    justify-self center
    width var(--opener-size)
    height var(--opener-size)
    padding 0
    border none
    background-color transparent
    z-index 2
    appearance none
    +media(l)
      display none
    +media-max(l)
      --opener-size var(--gap)
    +before()
      position absolute
      inset 0
      width var(--opener-before-after-size)
      height var(--opener-before-after-size)
      margin auto
      mask(menu)
      background-color var(--color-text)
      opacity var(--opener-before-opacity, 1)
      transition opacity var(--pop-up-transition-duration)
    +after()
      position absolute
      inset 0
      width var(--opener-before-after-size)
      height var(--opener-before-after-size)
      margin auto
      mask(close)
      background-color var(--color-text)
      opacity var(--opener-after-opacity, 0)
      transition opacity var(--pop-up-transition-duration)
