.icon-block
  --icon-size calc(var(--gap)*2)
  display flex
  gap 0.625rem
  padding var(--base-padding)
  height 100%
  border 1px solid var(--color-grey)
  margin-bottom -1px
  margin-right -1px
  &::before
    content ''
    width var(--icon-size)
    height var(--icon-size)
