.icon-block
  align-items center
  &::before
    flex-shrink 0
    background-image var(--before-background-image)
    background-repeat no-repeat
    background-position center
    background-size contain
  for icon in available analogs documents warranty hydro consumption pressure steam
    &--{icon}
      --before-background-image backgroundImage(icon, home)
  &--column
    --icon-size 120px
    flex-direction column
