.home-about
  &__inner
    display grid
    grid-template-columns repeat(2, 1fr)
    grid-template-rows auto
    grid-template-areas 'about aim' 'img list'
    gap var(--gap)
    +media-max(m)
      grid-template-columns 1fr
      grid-template-areas 'about' 'aim' 'img' 'list'
  &__image
    margin-x -($basePadding)px
  &__list
    position relative
    display flex
    flex-direction column
    row-gap 4.75rem
    justify-content center
    padding var(--gap) 0
    +media-max(l)
      row-gap 2.375rem
    +media-max(m)
      padding-top 0
    li 
      position relative
      text-align center
      +media-max(m)
        padding-left 2rem
        text-align left
      +before()
        position absolute
        inset -40px calc(50% - 8px)
        width 1rem
        height 1rem
        background-color var(--color-orange)
        border-radius 100vmax
        +media-max(l)
          inset -20px calc(50% - 8px)
        +media-max(m)
          inset 50% 0
          transform translateY(-50%)
    +before()
      position absolute
      inset auto -20px 0
      width calc(100%+40px)
      height 1px
      background-color var(--color-grey)
      // +media-max(m)
      //   inset -40px -20px
    +after()
      position absolute
      inset 0 -20px
      width calc(100%+40px)
      height 1px
      background-color var(--color-grey)
      +media-max(m)
        inset -40px -20px

