.rating-sum
  display flex
  align-items center
  --gradient-stop 0
  &--4
    & .rating-sum__star:nth-child(-n+4)
      --gradient-stop 100%
  &--5
    --gradient-stop 100%
  &__star
    width 1.25rem
    height 1.25rem
    mask-image maskImage(star, home)
    mask-repeat no-repeat
    mask-size contain
    mask-type alpha
    background-image linear-gradient(to right, var(--color-blue) var(--gradient-stop), var(--color-grey) var(--gradient-stop))
  &__count 
    padding-left 0.625rem
    line-height 1
