.header-navigation
  &__list
    display flex
    gap calc(var(--gap) / 1.33)
    +media-max(xl)
      gap 12px
    +media(l)
      margin-x var(--base-padding)
    +media-max(l)
      flex-direction column
  &__item
    font-weight 500
    +media-max(l)
      font-size 1.25rem
